COMPOSE_PROJECT_NAME=odtiles

SERVER_NAME=localhost
SERVER_ADMIN=admin@localhost
UWSGI_WORKERS=8
UWSGI_PORT=0.0.0.0:8080
TILE_SOURCE_FOLDER=/mnt/odtiles/tilesrc
TILE_OUTPUT_FOLDER=/mnt/odtiles/tileout
TILE_MAX_AGE=86400
TILE_MAX_AGE_LIVE=60
